.additional-product {
  position: relative;

  display: grid;
  grid-template-areas:
  "title - "
  "termin description"
  "button button";

  padding-top: 13px;
  padding-bottom: 17px;

  border-top: 1px solid $border-grey-lighter;

  &:nth-last-child(n) {
    border-bottom: 1px solid $border-grey-lighter;
  }

  @media (min-width: $tablet-width) {
    grid-template-areas:
    "title - termin description"
    "button button button button";
    grid-template-columns: 200px 1fr 250px 50px;

    padding-top: 26px;
    padding-right: 38px;
    padding-bottom: 27px;
    padding-left: 38px;

    border: 1px solid $border-grey-lighter;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "title termin description button";
    grid-template-columns: 325px 245px 80px 244px;

    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;

    border: none;
    border-top: 1px solid $border-grey-lighter;
    border-bottom: 1px solid $border-grey-lighter;
  }
}

.additional-product__name {
  grid-area: title;

  margin: 0;
  padding-left: 2px;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $black-title-lighter;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.additional-product__info-termin {
  grid-area: termin;

  margin: 0;
  margin-top: 13px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    margin-right: 43px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
  @media (min-width: $desktop-width) {
    margin-top: 14px;
    margin-right: 0;
    text-align: left;
  }
}

.additional-product__info-description {
  grid-area: description;

  margin: 0;
  margin-top: 13px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: right;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 14px;
    text-align: left;
  }
}

.additional-product__button {
  grid-area: button;

  width: 100%;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
