.page-header {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 65px;

  background-color: $white;

  &--catalog {
    width: 100%;

    &::after {
      content: "";

      position: absolute;
      bottom: -1px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $border-grey;
    }

    @media (min-width: $tablet-width) {
      &::after {
        display: none;
      }
    }
  }
  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    background-color: transparent;
  }
}

.page-header__logo {
  margin-top: -4px;
  margin-right: auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
  margin-top: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;
    //cursor: pointer;
    //width: 202px;
    //height: 59px;
  }
}

.page-header__logo-mobile {
  margin-top: 9px;
  margin-right: 10px;
  margin-bottom: 7px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width :$tablet-width) {
    display: none;
  }
}

.page-header__toggle-button {
  width: 24px;
  height: 19px;
  margin-top: -2px;
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;

  &--open {
    background-image: url("../img/sprite.svg#header-menu-toggler-open");
    background-size: 24px 18px;
  }

  &--close {
    background-image: url("../img/sprite.svg#header-menu-toggler-close");
    background-size: 20px 20px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
