$white: #FFFFFF;
$black: #000000;
$black-text: #444444;
$primary: #68B738;
$black-title: #111111;
$black-title-lighter: #222222;
$grey-media: #666666;
$basic-grey: #F2F2F2;
$darker-grey: #EAEAEA;
$border-grey: #D9D9D9;
$border-grey-lighter: #EBEBEB;
$preview-content-green: #63A63B;
$special-grey: #CDCDCD;
$special-grey-lighter: #DCDCDC;
$tablet-border-grey: #E6E6E6;
$hover-green: #5EAA2F;

$tablet-width: 768px;
$desktop-width: 1440px;
