$white: #FFFFFF;
$black: #000000;
$black-text: #444444;
$primary: #68B738;
$black-title: #111111;
$grey-media: #666666;
$basic-grey: #F2F2F2;
$additional-information-grey: #EAEAEA;
$border-grey: #D9D9D9;
$preview-content-green: #63A63B;
$special-grey: #CDCDCD;

//$tablet-width: 768px;
//$desktop-width: 1150px;
